@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-mild-white: #dfe6e9;
    --color-grey: #0F0F0F;
    --color-primary: #55EFC4;
    --layout-spacing: 3rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Libre Franklin;
    color: var(--color-white);
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-black);
}

li {
    list-style: none;
}

span {
    color: var(--color-primary);
    font-size: small;
    font-weight: 600;
}

.navbox__top--logo {
    display: flex;
    justify-content: center;
}

.navbox__top--logo img {
    width: 10rem;
    padding-top: 1rem;
}

.navbox__top {
    position: sticky;
    top: -1;
}
.navbox__top li{
    width: 100vw;
    padding: 1rem 0;
    background-color: var(--color-black);
    border-bottom: 2px solid var(--color-grey);
}

.navbox__top li h1 {
    font-size: 2.6rem;
    text-align: center;
}

.navbox__bottom {
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.navbox__bottom li {
    display: flex;
    justify-content: center;
    padding: 1.4rem 0;
    background-color: var(--color-black);
    border-top: 2px solid var(--color-grey);
}

.navbox__bottom li a {
    text-decoration: none;
    text-align: center;
    flex: 1;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}

.navbox__bottom li 0:hover {
    background-color: var(--color-grey);
}

.navbox__bottom li a.super {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.abs__pouch {
    margin: 0 var(--layout-spacing);
    padding: var(--layout-spacing);
    border-left: solid var(--color-grey);
    border-bottom: solid var(--color-grey);
}

.abs__pouch--grey {
    background-color: var(--color-grey);
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    margin: var(--layout-spacing);
    padding: var(--layout-spacing) 0;
}

.abs__pouch * {
    margin: 1rem 0;
}

.abs__pouch h2 {
    font-size: 2.6rem;
}

.abs__pouch p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-mild-white);
}

.abs__pouch img {
    max-width: 100%;
    height: 180px;
}

.abs__spacer {
    height: 20vh;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 16px;
    }
    .abs__pouch {
        margin: 2rem 10rem;
    }
}

