@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

:root {
	--color-primary: #55EFC4;
	--color-secondary: #000;
	--color-tertiary: #fff;
	--color-text: #dfe6e9;
	--color-border: #0F0F0F;
	--layout-spacing: 3rem;
}
/* 
:root {
    --color-primary: #00b894;
    --color-secondary: #fff;
    --color-tertiary: #000;
    --color-text: #636e72;
    --color-border: #f7f7f7;
    --layout-spacing: 3rem;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Libre Franklin;
    color: var(--color-tertiary);
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-secondary);
}

li {
    list-style: none;
}

span {
    color: var(--color-primary);
    font-size: small;
    font-weight: 600;
}

.navbox__top--logo {
    display: flex;
    justify-content: center;
}

.navbox__top--logo img {
    width: 10rem;
    padding-top: 1rem;
}

.navbox__top {
    position: sticky;
    top: -1;
}
.navbox__top li{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-border);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbox__top li h1 {
    font-size: 2.6rem;
    text-align: center;
}

.navbox__bottom {
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.navbox__bottom li {
    display: flex;
    justify-content: center;
    padding: 1.4rem 0;
    background-color: var(--color-secondary);
    border-top: 2px solid var(--color-border);
    border-radius: 50px;
}

.navbox__bottom li a {
    text-decoration: none;
    text-align: center;
    flex: 1;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: background-color linear 0.3s;
}

.navbox__bottom li :hover {
    background-color: var(--color-border);
}

.navbox__bottom li a.super {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.abs__pouch {
    margin: var(--layout-spacing);
    padding: var(--layout-spacing);
    border-radius: 10px;
    background-color:var(--color-border);
    border: 2px solid transparent;
    transition: border ease 0.3s;
}

.abs__pouch:hover {
    border: 2px solid var(--color-primary);
}
.abs__pouch--border {
    background-color: var(--color-border);
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    margin: var(--layout-spacing);
    padding: var(--layout-spacing) 0;
}

.abs__pouch * {
    margin: 1rem 0;
}

.abs__pouch h2 {
    font-size: 2.6rem;
}

.abs__pouch p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-text);
}

.abs__pouch img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.abs__spacer {
    height: 20vh;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 	10px;
    }
    .abs__pouch {
        margin: var(--layout-spacing);
        max-width: 45%;
    }
    .abs__spacer {
    	display: none;
    }
    .navbox__bottom {
        position: initial;
        
        width: 25vw;
        margin: 0 auto;
    }
    .navbox__bottom li {
        border: none;    
    }
}

